version: '3.8'

services:
  
  # --- Contenedor 1: La Base de Datos MongoDB ---
  mongo-db:
    image: mongo:latest
    container_name: mongo-healthtrack
    ports:
      - "27017:27017" 
    volumes:
      - mongo-data:/data/db #
    networks:
      - healthtrack-net

  # --- Contenedor 2: La API de Spring Boot ---
  api-healthtrack:
    container_name: api-healthtrack
    
    build: .
    ports:
      - "8080:8080" 
    depends_on:
      - mongo-db 
    networks:
      - healthtrack-net
    environment:
     
      - SPRING_DATA_MONGODB_URI=mongodb://mongo-db:27017/HealthTrack

volumes:
  mongo-data: 

networks:
  healthtrack-net: 